---
//Layouts
import {HtmlLayout, HomeLayout} from '../../../layouts/layoutsDependencies'

//Components
import {Paragraph, Picture, Buttons} from '../../../components/componentsDependencies.js'
---

<HtmlLayout title=`2) Dati e Informazione | Informatica Ovunque`>
  <HomeLayout client:load>
    <h1 class=`text-central primary-color`>2: Dati e Informazione</h1>

      <Paragraph 
        title=`Dati e Informazione sono la stessa cosa?` 
        text=`Spesso le due parole informazioni e dati sono considerate sinonimi nel linguaggio comune, ma in realtà 
        non sono la stessa cosa. Nel mondo informatico hanno due significati completamente diversi, che è importante
        comprendere fin da subito. Come vedremo, uno è il risultato dell'elaborazione e interpretazione dell'altro.`
      />

      <Paragraph 
        title=`Cosa sono i Dati?` 
        text=`I dati sono elementi grezzi, non interpretati, come numeri, parole, immagini o suoni. Essi non hanno 
        alcun significato fino a quando non vengono trattati. Per esempio, basta pensare al numero 8 che può suscitare
        entusiasmo se si tratta di un voto a scuola, oppure può suscitare una senazione di freddo se si sta parlando della
        temperatura ambientale. Quindi i dati sono semplicemente una rappresentazione oggettiva della realtà, <strong>
        senza nessun contesto</strong>, il che ci impedisce di capire di che cosa stiamo parlando.`
      />

      <Paragraph 
        title=`Cosa è l'Informazione?` 
        text=`L'informazione è il risultato <strong>dell'elaborazione dei dati</strong>. Quando i dati vengono organizzati, analizzati 
         e interpretati, diventano utili per prendere decisioni o generare nuovi conoscimenti. Ad esempio, una serie di
         numeri che rappresentano la temperatura di diverse città, quando organizzata in un grafico, diventa 
         informazione facilmente interpretabile.`
      />

      <Paragraph 
        title=`Qual'è la differenza tra dati e informazione?` 
        text=`Quindi la differenza tra dati e informazioni è semplicemente il <strong>contesto</strong>. 
        Se sappiamo di cosa stiamo parlando, cioè a cosa si riferiscono concretamente questi dati, allora essi 
        diventano informazioni e risulteranno effettivamente utili per effettuare statistiche, valutazioni ecc.`
      />

      <Paragraph 
      title="Esempio pratico"
      text=`Immaginiamo di avere un numero generico scritto su un foglio bianco, per esempio 50. Esso per ora non
      rappresenta nulla se non un semplice simbolo, un generico disegno. Ma nel momento in cui qualcuno ci dice che 
      quello è il limite di velocità all'interno di molti centri abitati, allora otteniamo un informazione sul 
      codice della strada, che possiamo utilizzare a nostro vantaggio (per non prendere multe per esempio)`
      />

      <Buttons goBackButtonDisabled={false} backPath=`/blog/concetti-fondamentali/1-sistemi-informatici` 
        nextPath=`/blog/concetti-fondamentali/3-il-sistema-binario`/>
  </HomeLayout>
</HtmlLayout>