---
import HomeLayout from "../../../layouts/baseLayout/HomeLayout"
import Database from "../../../components/blog/mainConcepts/database/Database"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>8) Database | Informatica Ovunque</title>
  </head>
  <body>
	<HomeLayout client:load>
		<Database/>
	</HomeLayout>
  </body>
</html>