---
import HomeLayout from "../../../layouts/baseLayout/HomeLayout"
import DatiInformazione from "../../../components/blog/mainConcepts/dati-informazione/DatiInformazione"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2) Dati e Informazione | Informatica Ovunque</title>
  </head>
  <body>
	<HomeLayout client:load>
		<DatiInformazione/>
	</HomeLayout>
  </body>
</html>