---
import HomeLayout from "../../../layouts/baseLayout/HomeLayout"
import SistemaBinario from "../../../components/blog/mainConcepts/il-sistema-binario/SistemaBinario"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1)Archittettura di base | Informatica Ovunque</title>
  </head>
  <body>
	<HomeLayout client:load> 
		<SistemaBinario/>
	</HomeLayout>
  </body>
</html>