.primary-color {
    color: #0011ff;
}

.secondary-color {
    color: #66aaff;
}

.text-color {
    color: #333;
}

.primary-background-color {
    background-color: #0011ff;
}

.primary-gradient-right-left {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,17,255,1) 100%);
}

.flex-central {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.text-central {
    text-align: center;
}

.text-white{
    color: #ffffff;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
}

.gap{
    display: flex;
    gap: 20px;
}

.width-total {
    width: 100%;
}