.greetings-container {
    width: 70%;
    border-top: solid 2px #66aaff;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.greetings-container-text {
    line-height: 1.5;
    margin-right: 100px;
}

.curiosity-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.curiosity-title {
  border-top: solid 2px #66aaff;
  padding-top: 20px;
  margin-top: 10px;
  width: 100%;
}

.curiosity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.home-text-size {
  font-size: 28px;
}

@media (max-width: 768px) { 
  .home-title-size {
    font-size: 23px;
  }
  .home-text-size{
    font-size: 20px;
  }
  .greetings-container {
    width: 80%;
    border-top: solid 2px #66aaff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 480px) { 
  .home-title-size {
    font-size: 18px;
  }
  .home-text-size{
    font-size: 15px;
  }
  .greetings-container {
    width: 80%;
    border-top: solid 2px #66aaff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }
}