---
import HomeLayout from "../layouts/baseLayout/HomeLayout"
import Blog from "../components/blog/Blog"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Informatica Ovunque</title>
  </head>
  <body>
	<HomeLayout client:load>
		<Blog client:load/>
	</HomeLayout>
  </body>
</html>