---
import HomeLayout from '../layouts/HomeLayout'

---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
	<HomeLayout>
		<h1>Ciao</h1>
	</HomeLayout>
  </body>
</html>