.container-button-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-scroll {
    background: white;
    border: none;
    color: #0011ff;
    padding: 12px 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-scroll:hover {
    transform: scale(1.1);
}
