.mySwiper {
    width: 70%;
    height: 400px;
    margin: auto;
  }
  
  .container-slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
  }
  
  .container-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.3));
    border-radius: 20px;
  }
  
.slide-quote {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    margin-right: 30px;
    z-index: 2;
}
  
.slide-author {
    font-size: 1.2rem;
    font-style: italic;
    position: relative;
    z-index: 2;
}

.greetings-container {
    width: 70%;
    border-top: solid 2px #66aaff;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.greetings-container-text {
    font-size: 28px;
    line-height: 1.5;
    margin-right: 100px;
}

.curiosity-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.curiosity-title {
  border-top: solid 2px #66aaff;
  padding-top: 20px;
  width: 100%;
}

.curiosity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}
