.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    max-width: 350px;
    background-color: transparent; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s ease-in-out;
  }
  
  .article-container:hover {
    transform: scale(1.1);
  }
  
  .article-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .article-title {
    font-size: 1.5rem;
    color: #66aaff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .articles-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66aaff;
    cursor: pointer;
    gap: 8px;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  .articles-link:hover {
    color: #0011ff;
  }
  