.tabs-button {
  background-color: #66aaff; 
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.tabs-button:hover {
  background-color: #0011ff; 
  transform: scale(1.05);
}

.tabs-container {
  margin-top: 30px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.div-articles {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
  gap: 60px;
  row-gap: 75px;
}