.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.footer-text {
    font-size: 20px;
}

.footer-link {
    text-decoration: none;
    margin-top: 20px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.footer-link:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) { 
    .footer-text{
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) { 
    .footer-text{
      font-size: 14px;
    }
  }

