body {
    margin: 0;
}

.div-container {
    padding: 15px 10px;
}

.ul {
    list-style: none;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.ul-li {
    list-style: none;
}

.ul-li-a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.text-pop-up-top {
    transition: transform 0.3s linear;
}

.text-pop-up-top:hover {
    transform: translateY(-15px) scale(1.2);
}

.header-text-size {
    font-size: 30px;
}

@media (max-width: 768px) { 
    .header-text-size{
      font-size: 25px;
    }
  }
  
  @media (max-width: 480px) { 
    .header-text-size{
      font-size: 20px;
    }
  }

