---
import HomeLayout from "../../../layouts/baseLayout/HomeLayout"
import ArchitetturaBase from "../../../components/blog/computerComponents/architettura-base/ArchitetturaBase"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1)Archittettura di base | Informatica Ovunque</title>
  </head>
  <body>
	<HomeLayout client:load>
		<ArchitetturaBase/>
	</HomeLayout>
  </body>
</html>