---
import HomeLayout from "../../../layouts/baseLayout/HomeLayout"
import Ram from "../../../components/blog/computerComponents/ram/Ram"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4)Memoria Principale (RAM) | Informatica Ovunque</title>
  </head>
  <body>
	<HomeLayout>
    <Ram/>
	</HomeLayout>
  </body>
</html>